

// @head-background-color: lighten(@header_color, 10%) ;
// @head-background-color: #73A605 ;

@app-background-color: #f2f2f2 ;

@head-background-color: #3F4773 ;
@header_color: darken( @head-background-color, 10%);

//@active-contact-background-color: #6490b1 ;
@active-contact-background-color: lighten(@head-background-color, 10%) ;

@button-color: #3a6d99;

@message-color: #698192;

@radio-background-color: #6b9bc2; 

@message-selected-color: desaturate(@header_color, 80%) ; 

@font-size : 13px ;

